<div class="mat-elevation-z8 container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        {{ "Name" | titlecase }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by surname"
      >
        {{ "Surname" | titlecase }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by address"
      >
        {{ "Address" | titlecase }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <!-- dni Column -->
    <ng-container matColumnDef="dni">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by dni"
      >
        {{ "Dni" | titlecase }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
    </ng-container>

    <!-- phone Column -->
    <ng-container matColumnDef="phone">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by phone"
      >
        {{ "Phone" | titlecase }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <!--  Actions Column-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['details', element._id]"
          ><fa-icon [icon]="['fas', 'eye']" size="2x"></fa-icon
        ></a>
        <a [routerLink]="['update', element._id]"
          ><fa-icon [icon]="['fas', 'edit']" size="2x"></fa-icon
        ></a>
        <a href="#" (click)="delete(element._id)"
          ><fa-icon [icon]="['fas', 'trash-alt']" size="2x"></fa-icon
        ></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
