@import '~normalize.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
html, body { height: 100%; }

body{
  width: 100vw;
  height: 100vh;

  app-root{
    height: 100%;
    width: 100%;
    background-color: red;
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 15vh 85vh;
    grid-template-areas:
    "header-section header-section"
    "side-section content-section";

    header{
      grid-area: header-section;
      background-color: green;
    }

    aside{
      grid-area: side-section;
      background-color: blue;

    }

    main{
      grid-area: content-section;
      background-color: yellow;
    }
  }
}
